[build]
  command = "npx prisma generate && npm run build"
  publish = ".next"

[build.environment]
  SECRETS_SCAN_ENABLED = "false"


[[plugins]]
  package = "@netlify/plugin-nextjs"

[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = """
      default-src 'self';
      script-src 'self' 'unsafe-inline' 'unsafe-eval' blob: https://checkout.razorpay.com https://js.stripe.com;
      connect-src 'self' https: https://checkout.razorpay.com;
      frame-src 'self' https://checkout.razorpay.com https://js.stripe.com;
      style-src 'self' 'unsafe-inline';
      img-src 'self' data: https:;
      font-src 'self' data:;
    """
    X-Frame-Options = "SAMEORIGIN"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
    Permissions-Policy = "geolocation=(), microphone=(), camera=()"
