@import "tailwindcss";

body {
  background: #ffffff;
  color: #111827;

}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}